html{
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background-color: #333;
    color: white;
}

h1{
    font-size: 40px;
    margin: 50px auto 30px;
    padding: 30px 0;
    transition: 0.3s;
    width: 400px;
}

h1:hover{
    text-shadow: 0 0 7px #dddd;
    transition: 0.3s;
}

.len-display{
    background-color: #00594c;
    color: #fff;
    border: groove 3px #8B4720;
    border-radius: 5px;
    text-align: center;
}

textarea{
    resize: none;
    width: 50vw;
    height: 20vw;
    text-align: left;
    background-color: #00594C;
    color: white;
    border: solid 10px #8B4720;
    border-bottom: groove 20px #8B4720;
    font-size: 16px;
}

textarea:hover{
    border: solid 10px #ab6740;
    border-bottom: groove 20px #ab6740;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

tr{
    height: 40px;
}

button{
    width: 200px;
    height: 50px;
    margin: 50px 30px 0px;
    background-color: #aaa;
    border-left: solid 4px #888;
    border-right: solid 4px #222;
    border-top: solid 4px #888;
    border-bottom: solid 4px #222;
    color: #333;
    font-size: 14px;
    font-style: bold;
    cursor: pointer;
}

button:hover{
    background-color: #888;
}

button:active{
    width: 200px;
    height: 50px;
    background-color: #888;
    border-left: solid 4px #333;
    border-right: solid 4px #333;
    border-top: solid 4px #333;
    border-bottom: solid 4px #333;
    color: #333;
    font-size: 14px;
    font-style: bold;
}