@charset "utf-8";
table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

body {
    margin: 0;
    padding: 0;
    background-color: #F1F1F1;
    background-image: url(../images/pc/common/background.png);
    background-position: left top;
    color: #333;
    font-size: 14px;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    word-break: normal;
    overflow-wrap: normal;
    word-wrap: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111;
    margin: 10px 0;
    font-size: 18px
}

h1 {
    font-weight: 700
}

p {
    line-height: 140%;
    margin: 15px 0
}

em,
strong {
    font-style: normal;
    font-weight: 700
}

small {
    color: #555;
    font-size: 12px
}

ul {
    margin: 10px 20px
}

ul li {
    list-style: disc
}

ol {
    margin: 10px 20px
}

ol li {
    list-style: decimal
}

dl {
    margin: 10px 0
}

dl dd {
    margin-left: 30px
}

pre {
    overflow: auto;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #AAA
}

code {
    color: navy
}

code,
pre {
    line-height: 1.2;
    font-size: 100%;
    font-family: "ＭＳ ゴシック", monospace
}

blockquote {
    overflow: auto;
    margin: 10px 0;
    padding: 0 15px;
    border-left: 2px solid #77A
}

blockquote dd,
blockquote div,
blockquote dt,
blockquote li,
blockquote p {
    color: #777
}

table {
    margin: 15px 0
}

table tr th {
    padding: 5px;
    border: 1px solid #999;
    background-color: #DDD;
    font-weight: 700;
    text-align: center
}

table tr td {
    padding: 5px;
    border: 1px solid #999;
    background-color: #FFF
}

table tr td input {
    margin: -2px 0
}

form {
    margin: 0
}

form legend {
    display: none
}

form dl dt {
    margin: 0 0 5px 0
}

form dl dd {
    margin: 0 0 15px 0
}

form dl dd ol,
form dl dd ul {
    margin: 10px 0
}

form dl dd ol li,
form dl dd ul li {
    margin-right: 1em;
    display: inline
}

form dl dd input,
form dl dd select {
    padding: 6px
}

form dl dd textarea {
    line-height: 1.4;
    padding: 7px
}

form ul {
    margin: 15px 0
}

form ul li {
    list-style: none
}

form p {
    margin: 10px 0 20px
}

form p input {
    padding: 5px 20px 7px
}

figure {
    margin: 10px 0
}

a {
    color: #2587E8;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:visited {
    color: #5913A0
}

.practicable {
    background-color: #6B94BE;
    color: #FFF
}

.complete {
    background-color: #1AC608;
    color: #FFF
}

.important {
    background-color: #FF9416;
    color: #FFF
}

.impracticable {
    background-color: #BEBEBE;
    color: #FFF
}

form input[type=button],
form input[type=submit] {
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    cursor: pointer
}

form input[type=button].impracticable,
form input[type=submit].impracticable {
    color: #EEE;
    box-shadow: 0 0 0 transparent
}

div#header {
    overflow: hidden;
    min-width: 1024px;
    padding: 10px 0;
    background-color: #FFF;
    box-shadow: 0 3px 3px 0 #DDD
}

div#header div.contents {
    width: 1024px;
    margin: 0 auto
}

div#header h1 {
    float: left;
    margin: 0 47px 0 0;
    padding: 0
}

div#header h1 a {
    display: block;
    width: 212px;
    height: 54px;
    background-size: cover;
    background-image: url(https://secure.nnn.ed.jp/mypage/assets/project/images/pc/header/heading.png);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px
}

div#header ul {
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 0
}

div#header ul li {
    position: relative;
    list-style: none;
    float: left;
    margin: 0 0 0 5px;
    padding: 0
}

div#header ul li a {
    display: block;
    width: 70px;
    height: 54px;
    margin-bottom: -40px;
    padding-top: 40px;
    background-position: center 3px;
    background-repeat: no-repeat;
    font-size: 11px;
    text-align: center;
    color: #444
}

div#header ul li.home a {
    background-image: url(../images/pc/header/home.png)
}

div#header ul li.report a {
    background-image: url(../images/pc/header/report.png)
}

div#header ul li.first a {
    background-image: url(../images/pc/header/first.png)
}

div#header ul li.guidance a {
    background-image: url(../images/pc/header/guidance.png)
}

div#header ul li.result a {
    background-image: url(../images/pc/header/result.png)
}

div#header ul li.news a {
    background-image: url(../images/pc/header/news.png)
}

div#header ul li.schedule a {
    background-image: url(../images/pc/header/schedule.png)
}

div#header ul li.inquiry a {
    background-image: url(../images/pc/header/inquiry.png)
}

div#header ul li.logout a {
    background-image: url(../images/pc/header/logout.png)
}

div#header ul li.mail a {
    background-image: url(../images/pc/header/mail.png)
}

div#header ul li.changePassword a {
    width: 80px;
    background-image: url(../images/pc/header/changePassword.png)
}

div#header ul li.changeMail a {
    background-image: url(../images/pc/header/changeMail.png)
}

div#header ul li span.number {
    line-height: 100%;
    position: absolute;
    min-width: 12px;
    height: 12px;
    top: 0;
    right: 12px;
    padding: 4px;
    border-radius: 10px;
    background-color: #FF9416;
    color: #fff;
    font-size: 12px;
    text-align: center
}

div#contents {
    min-width: 1024px;
    padding-top: 10px
}

div#contents div.contents {
    overflow: hidden;
    width: 1024px;
    margin: 0 auto;
    padding: 10px 0 20px
}

div#contents div.section {
    margin-bottom: 25px;
    padding: 5px 15px 10px;
    border-top: 3px solid #BBB;
    background-color: #FFF;
    box-shadow: 0 3px 3px 0 #DDD;
    word-break: break-all;
    white-space: normal
}

div#contents .long p {
    line-height: 240%
}

div#contents form dl dt em {
    padding: 3px 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    background-color: #FF9416;
    color: #FFF;
    font-size: 12px;
    font-weight: 700
}

div#contents #path {
    float: none;
    width: 1024px
}

div#contents #login {
    margin: 0 auto;
    width: 440px
}

div#contents #main {
    float: left;
    width: 640px;
    margin-left: 2px
}

div#contents #main.nosub {
    width: 96%
}

div#contents #sub {
    float: left;
    width: 370px;
    margin-left: 10px
}

div#contents #path ul {
    margin: 0 0 10px 0
}

div#contents #path ul li {
    display: inline;
    list-style: none
}

div#contents #path ul li:after {
    content: " > "
}

div#contents #path ul li:last-child:after {
    content: ""
}

div#contents ul.list {
    margin: 10px 0 20px
}

div#contents ul.list li {
    list-style: none;
    background-color: #FFF;
    background-image: url(../images/pc/common/list.png);
    background-position: 8px 10px;
    background-repeat: no-repeat
}

div#contents ul.list li:nth-child(2n) {
    background-color: #F5F5F5
}

div#contents ul.list li a {
    display: block;
    padding: 6px 22px;
    border: 1px solid transparent;
    color: #111
}

div#contents ul.list li a:hover {
    border: 1px solid #9EB9D4
}

div#contents ul.list li ul {
    margin: 0
}

div#contents ul.list li ul li {
    position: relative;
    padding-left: 20px;
    background-position: 25px 10px
}

div#contents ul.list li ul li span {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    width: 160px;
    border-radius: 10px;
    text-align: center
}

div#contents dl.list {
    margin-bottom: 20px
}

div#contents dl.list dd {
    min-height: 75px;
    margin-top: -85px;
    margin-bottom: 10px;
    margin-left: 0;
    padding-bottom: 5px;
    padding-left: 150px;
    border-bottom: 1px solid #E6E6E6
}

div#contents dl.list dd:last-child {
    border-bottom: 0
}

div#contents dl.list dd h2 {
    line-height: 120%;
    margin: 5px 0;
    font-size: 15px
}

div#contents dl.list dd h2 span {
    padding: 1px 10px;
    border-radius: 10px;
    font-size: 12px
}

div#contents dl.list dd p {
    margin: 5px 0;
    font-size: 11px
}

div#contents ul.attention {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px
}

div#contents ul.attention li {
    list-style: none;
    margin: 5px
}

div#contents ul.continue {
    margin: 10px 0
}

div#contents ul.continue li {
    list-style: none;
    text-align: right
}

div#contents div.navigation h1 {
    display: none
}

div#contents div.navigation form {
    text-align: right
}

div#contents div.navigation form p {
    margin: 0 0 30px
}

div#footer {
    min-width: 1024px;
    padding-bottom: 40px;
    text-align: center
}

div#footer div.contents {
    width: 1024px;
    margin: 0 auto
}

div#footer p {
    line-height: 100%;
    margin: 0
}

iframe#pr_area {
    border: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: 370px
}

div.advertisement {
    padding: 0
}

div#contents.modal {
    min-width: 0
}

div#contents.modal div.contents {
    width: auto
}

div.to-niconicooauth-register-guide input[type=button] {
    width: 100%
}

.inner {
    text-align: center;
}

div#contents div.advertisement p {
    margin: 10px 0
}

div#contents #breadcrumbs {
    float: none;
    width: 1024px
}

div#contents #breadcrumbs ul {
    margin: 0 0 10px 0
}

div#contents #breadcrumbs ul li {
    display: inline-block;
    list-style: none;
    max-width: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

div#contents #breadcrumbs ul li:after {
    content: " > "
}

div#contents #breadcrumbs ul li:last-child:after {
    content: ""
}

div.action-messages {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    cursor: pointer;
    background-color: transparent;
    text-align: center;
    opacity: 0
}

div.action-messages.appear {
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}

div.action-messages .inner {
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px 40px;
    max-width: 90%;
    font-size: 120%;
    text-align: center;
    word-break: break-all;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5)
}

div#dw-dialog {
    display: none;
    width: 40%;
    margin: 0 auto;
    padding: 0;
    border-width: 0;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF
}

div#dw-dialog .dialog-header {
    font-size: 150%;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: .5em 10px .5em 10px;
    overflow: hidden;
    background-color: #FFF;
    line-height: 1.5em;
    keep-all: keep-all;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2)
}

div#dw-dialog .dialog-message {
    padding: 1em 15px;
    min-height: 1em
}

div#dw-dialog .dialog-footer {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0;
    padding: .5em 10px .5em 10px;
    border-width: 0;
    overflow: hidden;
    line-height: 3em;
    background-color: #FFF;
    text-align: center
}

div.inline-modal {
    position: relative;
    background: #fff;
    margin: 0 auto;
    padding: 0;
    border-width: 0
}

div.modal-header {
    font-size: 150%;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0;
    border-width: 0;
    padding: .5em 10px .5em 10px;
    overflow: hidden;
    background-color: #FFF;
    line-height: 2em;
    white-space: nowrap;
    keep-all: keep-all;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    position: relative
}

div.modal-contents {
    padding: 0 15px
}

div.modal-footer {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    margin: 0;
    padding: .5em 10px .5em 10px;
    border-width: 0;
    overflow: hidden;
    line-height: 3em;
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
    position: relative
}

div#box-modal div.modal-header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0
}

div#box-modal div.modal-contents {
    padding-top: 5em
}

div#box-modal div.modal-footer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0
}

div.btn-close-modal {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0;
    line-height: 22px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    background-color: #FFF;
    cursor: pointer;
    -webkit-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out
}

div.modal-header div.btn-close-modal {
    float: right
}

.mfp-iframe-holder div.btn-close-modal {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1046
}

button,
input[type=button],
input[type=submit] {
    margin: 4px 4px 4px 0;
    padding: 10px 25px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    cursor: pointer
}

button.impracticable,
input[type=button].impracticable,
input[type=submit].impracticable {
    color: #EEE;
    box-shadow: 0 0 0 transparent
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
select,
textarea {
    height: 34px;
    padding: 6px 12px;
    color: #333;
    border: solid 1px #bbb;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4
}

input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
    border-color: #006;
    -webkit-transition: border-color .1s linear;
    transition: border-color .1s linear
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
    box-sizing: border-box;
    width: 100%
}

textarea {
    box-sizing: border-box;
    width: 100%;
    height: 8em
}

select {
    box-shadow: inset 0 1px 1px #FFF;
    background-color: #FFF
}

.checkbox,
.radio {
    display: inline-block;
    margin: 4px 20px 4px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.checkbox>input[type=checkbox],
.radio>input[type=radio] {
    display: none
}

.checkbox>span,
.radio>span {
    box-sizing: border-box;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    position: relative;
    display: inline-block;
    padding: 6px 6px 6px 28px;
    border-radius: 8px;
    background-color: #FFF;
    vertical-align: middle;
    cursor: pointer
}

.checkbox>span:hover,
.radio>span:hover {
    background-color: #e2e2f0
}

.checkbox>span:hover:before,
.radio>span:hover:before {
    border-color: #006
}

.radio>span:before {
    -webkit-transition: border-color .1s linear;
    transition: border-color .1s linear;
    position: absolute;
    top: 50%;
    left: 6px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #bbb;
    border-radius: 50%;
    content: '';
    background-color: #FFF
}

.radio>span:after {
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    position: absolute;
    top: 50%;
    left: 11px;
    display: block;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #006;
    content: '';
    opacity: 0
}

.checkbox>span:before {
    -webkit-transition: border-color .1s linear;
    transition: border-color .1s linear;
    position: absolute;
    top: 50%;
    left: 6px;
    display: block;
    margin-top: -10px;
    width: 16px;
    height: 16px;
    border: 2px solid #bbb;
    border-radius: 3px;
    content: '';
    background-color: #FFF
}

.checkbox>span:after {
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear;
    position: absolute;
    top: 50%;
    left: 12px;
    display: block;
    margin-top: -7px;
    width: 5px;
    height: 9px;
    border-right: 3px solid #006;
    border-bottom: 3px solid #006;
    content: '';
    opacity: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.checkbox>input[type=checkbox]:focus+span:before,
.radio>input[type=radio]:focus+span:before {
    border-color: #006
}

.checkbox>input[type=checkbox]:checked+span:after,
.radio>input[type=radio]:checked+span:after {
    opacity: 1
}

.fileselect-base {
    position: relative;
    display: block;
    margin: 2px
}

.fileselect-dragdrop {
    display: inline-block;
    border: dashed 3px #ccc;
    border-radius: 10px;
    background-color: #eee;
    color: #333;
    text-align: center
}

.fileselect-dragdrop-hover {
    background-color: #ddd
}

.fileselect-selected {
    display: inline-block;
    margin-left: 2em
}

.fileselect-delete,
.fileselect-reset {
    display: inline-block;
    margin: 0 0 0 2px;
    padding: 0;
    height: 25px;
    position: relative;
    vertical-align: middle
}

.fileselect-delete>input[type=button],
.fileselect-reset>input[type=button] {
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 22px;
    font-size: 18px;
    top: 0;
    left: 0;
    margin: 0 0 0 2px;
    padding: 0;
    vertical-align: middle;
    text-align: center
}

.fileselect-progress {
    position: absolute;
    top: .6em;
    left: 10%;
    height: 1.8em;
    line-height: 1.8em;
    width: 80%;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
}

.fileselect-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .3s ease;
    transition: width .3s ease
}

.field-error {
    border-radius: 5px;
    border: 1px solid red;
    text-align: left;
    line-height: normal;
    height: auto;
    z-index: 5;
    position: absolute;
    width: auto;
    background-color: red;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .1s linear;
    transition: opacity .1s linear
}

.password_policy>p,
.password_safe_hint>p {
    line-height: 24px;
    margin-bottom: 0
}

.password_policy>ul,
.password_safe_hint>ul {
    margin-top: 0
}