@charset "utf-8";

div#oauth_login {
    width: 440px;
    margin: 0 auto;
}

div#oauth_login ul {
    margin: 10px 0;
}
div#oauth_login ul li {
    list-style: none;
    display: block;
    text-align: right;
}

div#oauth_consent {
    width: 440px;
    margin: 0 auto;
}

div#oauth_consent fieldset{
    margin-top: 20px;
}

div#nschool_logo {
    text-align: center;
}

